<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NINA.Astrometry" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.Core" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.Equipment" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.Image" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.MGEN" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.PlateSolving" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.Plugin" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.Profile" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.Sequencer" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINA.WPF.Base" version="2.0.0.9001" targetFramework="net48" />
  <package id="NINACustomControlLibrary" version="2.0.0.9001" targetFramework="net48" />
</packages>